
.overlay {
	background: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}
.overlay.active {
	visibility: visible;
    
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	height: 650px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 1;
}

.popup .btn-cerrar-popup {
	font-size: 30px;
	line-height: 16px;
	width: 30px;
	float: right;
	display: block;
	text-align: right;
	cursor: pointer;
	
	color: rgb(255, 123, 0);
}

.popup .btn-cerrar-popup:hover {
	color: rgb(68, 27, 0);
	transition: .3s;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 1;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 1;
}

.popup form .contenedor-inputs {
	opacity: 1;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup .btnConfirmaCompra .btn-submit {
	padding: 0 20px;
	float: right;
	height: 60px;
	width: 150px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #ff6a00;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transform:translate(0px,250px);
	
}

.popup .btnConfirmaCompra .btn-submit:hover {
	background: rgba(100, 20, 0, 0.9);
	transition: .3s;
}

.popup .btnConfirmaCompra .btn-submit:active {
    background-color: rgb(221, 222, 218);
    box-shadow: 0 5px #666;
	transition: .08s;
  }

#img_popup{
    height: 250px;
	float: left;
}
.detallesCompra{
	width: auto;
	margin-left: 200px;
}
.detallesCompra h3{
	width: 70%;
	font-size: 15px;
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}
.detallesCompra h2{
	margin-left: 0;
	width: 100px;
	display: inline;
	
}
.detallesCompra h2{
	margin-left: 0;
	width: 100px;
	display: inline;
	
}

.tCompra{

	transform:translate(-20px,200px);
}

.tCompra h2{
	font-size: 40px;
	display: inline;
	background: rgba(255, 115, 0, 0.5);
	padding: 0px 10px;
	border-radius: 10px;
	
}

#totalCompra
{
	
	transform:translate(-20px,10px);
}

.contenedor-inputs h5{
	color: red;
	transform:translate(-10px,120px);
}

.popup2 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 500px;
	height: 650px;
	transition: .3s ease all;
	opacity: 1;transform:translate(-60px,30px) scale(0.3);
}


.popup2 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 1;
}

.popup .btnAplicarCambios .btn-submit {
	padding: 0 20px;
	height: 40px;
	width: 200px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #ff6a00;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transform:translate(-60px,130px);
	
}

.popup .btnAplicarCambios .btn-submit:hover {
	background: rgba(100, 20, 0, 0.9);
	transition: .3s;
}

.popup .btnAplicarCambios .btn-submit:active {
    background-color: rgb(221, 222, 218);
    box-shadow: 0 5px #666;
	transition: .08s;
  }

.popup2 h3{
	font-size: 25px;
}
.subS{
	display: inline;
}

.envio{
	transform:translate(-60px,130px);
	display: inline
}

#paqueterias
{	
	transform: translate(20px,40px);
	font-size: 20px;
}

.servicioPaq ul{
	
	list-style-type: none;
}

.servicioPaq .srv-paq li{
	display: inline-block;
}
.servicioPaq .srv-paq img
{	
	height: 40px;

}

/*-----------------------------*/
/* Radio buttons tipo envio*/
/*-----------------------------*/
.formulario > div {
	padding: 20px 0;
	border-bottom: 1px solid rgb(0, 0, 0); }
.formulario .radio label {
	display: inline-block;
	cursor: pointer;
	color: #ff6a00;
	position: relative;
	padding: 5px 15px 5px 51px;
	font-size: 1em;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease; }

.formulario .radio label:hover {
	background: rgba(255, 65, 54, 0.1); }
	
.formulario .radio label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 15px;
	border-radius: 50%;
	background: none;
	border: 3px solid #ff6a00 }
.formulario input[type="radio"] {
	display: none; }

.formulario input[type="radio"]:checked + label:before {
	display: none; }

.formulario input[type="radio"]:checked + label {
	padding: 5px 15px;
	background: #ff6a00;
	border-radius: 2px;
	color: #fff; }

.formulario > div {
	padding: 20px 0;
	border-bottom: 1px solid rgb(0, 0, 0); }
.formulario .radio label {
	display: inline-block;
	cursor: pointer;
	color: #ff6a00;
	position: relative;
	padding: 5px 15px 5px 51px;
	font-size: 1em;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease; }

.formulario .radio label:hover {
	background: rgba(255, 65, 54, 0.1); }
	
.formulario .radio label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 15px;
	border-radius: 50%;
	background: none;
	border: 3px solid #ff6a00 }
.formulario input[type="radio"] {
	display: none; }

.formulario input[type="radio"]:checked + label:before {
	display: none; }

.formulario input[type="radio"]:checked + label {
	padding: 5px 15px;
	background: #ff6a00;
	border-radius: 2px;
	color: #fff; }

/*------------------------*/
/* Radio buttons forma pago*/
/*------------------------*/
.formulario2 > div {
	padding: 20px 0;
	border-bottom: 1px solid rgb(0, 0, 0); }
.formulario2 .radio2 label {
	display: inline-block;
	cursor: pointer;
	color: #ff6a00;
	position: relative;
	padding: 5px 15px 5px 51px;
	font-size: 1em;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease; }

.formulario2 .radio2 label:hover {
	background: rgba(255, 65, 54, 0.1); }
	
.formulario2 .radio2 label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 15px;
	border-radius: 50%;
	background: none;
	border: 3px solid #ff6a00 }
.formulario2 input[type="radio"] {
	display: none; }

.formulario2 input[type="radio"]:checked + label:before {
	display: none; }

.formulario2 input[type="radio"]:checked + label {
	padding: 5px 15px;
	background: #ff6a00;
	border-radius: 2px;
	color: #fff; }

.formulario2 > div {
	padding: 20px 0;
	border-bottom: 1px solid rgb(0, 0, 0); }
.formulario2 .radio2 label {
	display: inline-block;
	cursor: pointer;
	color: #ff6a00;
	position: relative;
	padding: 5px 15px 5px 51px;
	font-size: 1em;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease; }

.formulario2 .radio2 label:hover {
	background: rgba(255, 65, 54, 0.1); }
	
.formulario2 .radio2 label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 15px;
	border-radius: 50%;
	background: none;
	border: 3px solid #ff6a00 }
.formulario2 input[type="radio"] {
	display: none; }

.formulario2 input[type="radio"]:checked + label:before {
	display: none; }

.formulario2 input[type="radio"]:checked + label {
	padding: 5px 15px;
	background: #ff6a00;
	border-radius: 2px;
	color: #fff; }



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup2.active {transform: translate(-60px,30px) scale(0.7); }

.slider {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-200px,40px);
	width:300px;
	height:10px;
	padding:30px;
	padding-left: 40px;
	background:#F8F8F8;
	border-radius:20px;
	display:flex;
	align-items:center;
	border: none;
   }
   .slider number{
	font-size:26px;
	font-weight:600;
	font-family: Open Sans;
	color:blue;
	border: none;
   }
   .slider input[type=”range”] {
	-webkit-appearance:none !important;
	width:420px;
	height:2px;
	background:#7E6D57;
	
   }
   .slider input[type=”range”]::-webkit-slider-thumb {
	-webkit-appearance:none !important;
	width:30px;
	height:30px;
	background:#fcfcfc;

	border-radius:50%;
	cursor:pointer;
   }
   .slider input[type=”range”]::-webkit-slider-thumb:hover {
	background:#7E6D57;
   }

 .slider label{
	border:none;
	float: left;
 }