
.libro1{
    margin: 10px;
    float: right;
    width: auto;
    padding-right: 60px;
    padding-left: 50px;
    background: rgba(255,255,255,.50);
    border-radius: 20px;
}
.espacioTitulo{
    text-align: center;
}
.main{

    height: 700px;
}
#img_compra{
    height: 500px;
    padding: 20px 20px;
}
.espacioLibro{
    display: inline-block;
    width: 1200px;
    clear: both;
}

section{
    display: block;
}

.detalles{
    margin: 10px 10px;
    padding: 20px 20px;
    width:auto;
    float: right;
    background: rgba(255,255,255,.50);
    border-radius: 20px;
    height: 420px;

}

@font-face {
    font-family: "tama";
    src: url(/Fuentes/01_tama.tff);
}

@font-face {
    font-family: "digital";
    src: url(/Fuentes/01_Digitall.ttf);
}


.precioM{
    font-family: "digital";
    color: white ;
    text-align: center;
    margin: 30px 20px;
    font-size: 100px;
    border-radius: 100px;
    padding-bottom: 0;
    -webkit-text-stroke: 100px solid black;
    background: -webkit-linear-gradient(white,yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;   
}

.btn_comprar {
    padding: 15px 25px;
    font-size: 35px;
    text-decoration: none;
    outline: none;
    color: #fff;
    background:#ff6a00;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(0, 0, 0);
    height: 90px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    font-family: verdana;
    margin-left: 100px;
    transition: .2s ease all;
    cursor: pointer;
  }
  
.btn_comprar:hover {background-color: rgb(113, 77, 0);}
  
.btn_comprar:active {
    background-color: rgb(221, 222, 218);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.recomendaciones{
    background: rgba(247, 120, 36, 0.753);
    margin: 30px 0;
    width: 1500px;
    height: 500px;
}

.recomendaciones h1{

    font-family: verdana;

}

.recomendaciones .librosRec{
    border-radius: 10px;
    background: rgba(255,255,255,.50);
    margin: 10px;
    width: fit-content;
}
.recomendaciones .librosRec div{
    display: inline-block;
    margin-right: 0;
}
.recomendaciones .librosRec h1, footer{
    font-size: 20px;
    font-family: verdana;
    width: 300px;
    text-align: center;
}

.recomendaciones .librosRec a{
    margin-left: 50px;
    align-content: center;
}


.librosR div{
    display: inline-block;
    width: 100%;
}

.rec1{width: 150px;}

.footerPage footer{
    font-size: 15px;
    width: auto;

}

